/* Beginning CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
    border: 0;
    box-sizing: border-box;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
    border-spacing: 0;
}

/* Beginning CSS */

body {
    background: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h1.heading {
    font-size: 42px;
    margin: 10px auto;
    text-align: center;
    color: rgba(255, 255, 255, 0.815);
}

div#grid-control {
    width: auto;
    margin: 3px auto;
    display: block;
    text-align: center;
}

button.clear-grid {
    padding: 5px;
    margin: 5px auto;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
}

button.grid-layout {
    padding: 5px;
    margin: 5px auto;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    margin-left: 5px;
}

label.hue-label {
    color: rgba(255, 255, 255, 0.815);
    font-size: 17px;
    display: block;
}

input.hue-slider {
    display: inline-block;
    margin: 4px auto;
    width: 400px;
}

label.saturation-label {
    color: rgba(255, 255, 255, 0.815);
    font-size: 17px;
    display: block;
}

input.saturation-slider {
    display: block;
    margin: 4px auto;
    width: 400px;
}

label.luminance-label {
    color: rgba(255, 255, 255, 0.815);
    font-size: 17px;
    display: block; 
}

input.luminance-slider {
    display: inline-block;
    margin: 4px auto;
    width: 400px;
}

div.color-display {
    display: block;
    margin: 2px auto;
    border: 1px solid white;
    width: 100px;
    height: 60px;
}

button.hide-controls {
    padding: 5px;
    margin: 5px auto;
    margin-top: 10px;
    text-align: center;
    display: block;
    border-radius: 5px;
}

div.container {
    background: white;
    display: grid;
    grid-template-columns: repeat(48, 1fr);
    grid-template-rows: repeat(48, 1fr);
    border-radius: 4px;
    margin: 20px auto;
    width: 890px;
    min-width: 890px;
    height: 890px;
    min-height: 890px;
}

div.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.288);
    border-collapse: collapse;
}