/* Beginning CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
    border: 0;
    box-sizing: border-box;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
    border-spacing: 0;
}

/* Beginning CSS */

body {
    background: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1.heading {
    font-size: 42px;
    margin: 10px auto;
    color: rgba(255, 255, 255, 0.815);
    display: inline-block;
}

a.instructions {
    text-decoration: none;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.815);
    position: fixed;
    left: 95.5%;
    margin: 10px auto;
}

a.instructions:hover {
    text-decoration: underline;
}

div#grid-control {
    width: auto;
    margin: 3px auto;
    display: block;
    text-align: center;
}

button.grid-layout,button.random-color,button.random-color-trail {
    padding: 5px;
    margin: 4px auto;
    text-align: center;
    display: block;
    border-radius: 5px;
}

label.red-label,label.green-label,label.blue-label,label.alpha-label {
    color: rgba(255, 255, 255, 0.815);
    font-size: 17px;
    display: inline-block;
    position: relative;
    bottom: 5px;
    margin: 0 3px 0 3px;
}

input.red-slider,input.green-slider,input.blue-slider,input.alpha-slider {
    display: inline-block;
    margin: 4px auto;
    width: 200px;
}

div.color-display {
    display: block;
    margin: 2px auto;
    border: 1px solid white;
    width: 100px;
    height: 60px;
    background: hsl(0, 100%, 50%);
}

button.hide-controls {
    padding: 5px;
    width: 130px;
    margin: 5px auto;
    margin-top: 8px;
    text-align: center;
    display: block;
    border-radius: 5px;
}

button.hide-borders,button.clear-grid {
    padding: 5px;
    width: 130px;
    margin: 5px auto;
    margin-top: 4px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
}

button:hover {
    border-color: red;
    cursor: pointer;
}

p.instruction {
    color: rgba(255, 255, 255, 0.815);
    font-size: 12px;
    display: block;
}

div.container {
    background: white;
    display: grid;
    grid-template-columns: repeat(42, 1fr);
    grid-template-rows: repeat(42, 1fr);
    border-radius: 4px;
    margin: 4px auto 20px auto;
    width: 890px;
    min-width: 890px;
    height: 890px;
    min-height: 890px;
}

div.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.288);
    border-collapse: collapse;
}

div.grid-item-border-removed {
    border: none;
    border-collapse: collapse;
}